@page "/"

<PageTitle>@GlobalSettings.ProductName</PageTitle>

<style type="text/css">
    .heading_container { border: 0; text-align: center; padding: 10px; padding-top: 100px; }
    .page_container { max-width: 800px; margin-left: auto; margin-right: auto; }
    .main_title { font-size: 250%; font-weight: bold; } 
    .main_subtitle {font-size: 125%; }
</style>

<div class="page_container"><!-- page container -->

    <div class="heading_container">
        <div class="main_title">@GlobalSettings.ProductName</div>
        <div class="main_subtitle">@GlobalSettings.ProductSubName</div>
    </div>
    

</div><!-- page container -->
