@inherits LayoutComponentBase

<PageTitle>Envirosaurus.Web</PageTitle>
    
<div>
    <NavMenu />
</div>
<br/>
<div class="page">        
    <main>
        <article>
            @Body
        </article>
    </main>
</div>
