<style type="text/css">
    .navmenu_bar { width: 100%; background: #F4F4F4; color: #333333; padding: 10px; font-size: 120%; }
    .nav-link { display: inline; color: inherit !important;}
    .spacer { width: 50px; display: inline-block; }
</style>

<div class="navmenu_bar">
<b>@GlobalSettings.ProductName</b>
    <div class="spacer"></div>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="/sensors" Match="NavLinkMatch.All">Sensors</NavLink>
    <!--<NavLink class="nav-link" href="/facilities" Match="NavLinkMatch.All">Facilities and Maps</NavLink>-->
    <!--<NavLink class="nav-link" href="/dashboards" Match="NavLinkMatch.All">Dashboards</NavLink>-->
</div>
